.timeline{
  width: 148px;
  height: 694px;
  display: block;
  margin: 14px 0 0 135px;
  float: left;
}
.timeline1{
  width: 148px;
  height: 912px;
  display: block;
  margin: 14px 0 0 135px;
  float: left;
}
.mainBox{
  float: left;
  padding: 49px 0 0 0 ;
  .ant-switch-checked{
    background-color: #6fc611;
  }
}
.nextButton{
  margin: 24px 0 0 140px ;
}
.sunbmitButton{
  display: flex;
  flex-direction: row;
  width: 400px;
  margin:43px 0 0 100px;
  button{
    flex: 1;
    margin: 0 15px;
    width: 170px;
  }
}
.fill-specification{
  h3{
    margin-left: 90px;
  }
  &>.ant-form-item{
    margin: 19px 21px !important;
  }
  .dropbox{
    width: 210px;
    height: 210px;
    margin-left: 30px;
  }
  .Dragger{
    margin: 83px 0 30px 60px !important;
    .operation{
      position: absolute;
      bottom: -30px;
      font-size: 14px;
      width: 100%;
      display: flex;
      flex-direction: row;
      background: #f0f4f2;
      span{
        line-height: 30px;
        height: 30px;
        flex: 1;
        color: #83B4E1;
      }
    }
  }
  &>.upload {
    margin: 13px 0 0 90px !important;
  }
  &>.textArea{
    margin-top: 30px !important;
  }
}
